*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

html:focus-within {
	scroll-behavior: smooth;
}

#root {
	display: flex;
	justify-content: center;
}

main {
	display: flex;
	position: absolute;
	max-width: 656px;
	min-width: 500px;
	height: 100vh;
	background-color: #282c34;
}

@media screen and (max-width: 768px) {
	main {
		width: 100%;
	}
}

#content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.Header-Decoration {
	background: url("/public/img/outline/header.png") no-repeat;
	background-size: cover;
	background-position-x: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 160px;
}

.Footer-Decoration {
	background: url("/public/img/outline/footer.png") no-repeat;
	background-size: cover;
	background-position-x: center;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 160px;
}
